#p1{
    font-family: 'Dancing Script', cursive;
}
#p2{
    font-family: 'Inspiration', cursive;
}
#p3{
    font-family: 'Kanit', sans-serif;
}
#p4{
    font-family: 'Oswald', sans-serif;
}
#p5{
    font-family: 'Silkscreen', cursive;
}